In [124]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [94]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [99]:
#number of players
num_players = len(purchase_data["SN"].unique())
num_players

576

In [100]:
#number of unique items
num_items = purchase_data["Item ID"].value_counts(dropna=False)
num_items.count()

183

In [112]:
#avg price
average_price = purchase_data["Price"].mean()
average_price

3.050987179487176

In [105]:
#num purchases
num_purchases = purchase_data["Purchase ID"].count()
num_purchases

780

In [118]:
#total revenue
total_rev = (num_purchases) * (average_price)
total_rev.round(2)

2379.77

In [123]:
#pulling values into new summary_table
summary_table = pd.DataFrame({"Number of Unique Items":[num_items.count()],
                 "Average Price": [average_price],
                "Number of Purchases": [num_purchases],
                "Total Revenue": [total_rev]})
summary_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

In [129]:
genders = purchase_data.groupby("Gender")["SN"].nunique()
genders.head()

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64